.container {
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
  border-bottom: 2px solid var(--color-primary);
}

.topSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: 600;
  color: var(--color-white);
}

.btn {
  font-weight: 600;
  color: var(--color-primary);
  cursor: pointer;
}

.cardGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.35rem;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
